:root {
  color-scheme: dark;
  background: #202020;
  color: #eee;
}

html,
body {
  background: #202020;
  color: #eee;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
